@page
@using FormMaster.BLL.DTOs
@model FormMaster.WEB.Pages.AdminPanelModel
@{
    ViewData["Title"] = "Admin panel page";
}

<form method="post">
    <div>
        <button asp-page-handler="block">Block</button>
        <button asp-page-handler="unblock">Unblock</button>
        <button asp-page-handler="promote">Promote</button>
        <button asp-page-handler="demote">Demote</button>
        <button asp-page-handler="delete">Delete</button>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th></th>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">E-mail</th>
                <th scope="col">IsBLocked</th>
                <th scope="col">IsAdmin</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.ManipulationDtos ?? Enumerable.Empty<AdminUserManipulationDto>())
            {
                <tr>
                    <td><input name="AreChecked" type="checkbox" value="@user.Id" /></td>
                    <td>@user.Id</td>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>@(user.IsBlocked ? "Yes" : "No")</td>
                    <td>@(user.IsAdmin ? "Yes" : "No")</td>
                </tr>
            }
        </tbody>
    </table>
</form>
